# JNTUA FDP - Day 05
### Date 31 May 2019
#### Day Objectives
* Tuples
* Dictionaries
* Linear and Binary Search
* Data Arithmetic
* Iterators and Generators
* Functional Programming

#### Python Tuples

In [5]:
t1  = (1001,'bhaskar',72,90)

In [6]:
t1

(1001, 'bhaskar', 72, 90)

In [7]:
t1[0]

1001

In [9]:
t1[2:]

(72, 90)

In [15]:
t2=(321,654,789098)
str(t2[0])[1], str(t2[1])[1], str(t2[2])[1]

('2', '5', '8')

In [13]:
t2=(321,654,789098)
print(str(t2[0])[1],str(t2[1])[1],str(t2[2])[1])

2 5 8

In [22]:
# Average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    for i in range(0,len(t)):
        sum +=t[i]
    return sum/len(t)
li=[123,243,456,678,89]

averageLinearDs(li)

317.8

In [81]:
# Average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    for item in t:    #  using iterator
        sum +=item
    return sum/len(t)
li=[123,243,456,678,89]

averageLinearDs(li)

317.8

In [44]:
# Function to search in linear Data structure
def searchLinearDs(ds,key):
    for i in range(0,len(ds)):
        if(key==ds[i]):
            return i
    return -1
            
li=[123,243,456,678,89]
s=4565
searchLinearDs(li,s)

-1

In [80]:
# Average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    for item in t:
        sum +=item
    return sum/len(t)
li=[123,243,456,678,89]

averageLinearDs(li)

317.8

# Iterable Objects

In [45]:
s='pah'
for c in s:
    print(c)

p
a
h

In [50]:
# Function to find maximum element in a ds using iterable Object
def maxElementDS(ds):
    maximum=ds[0]
    for item in ds:
        if item > maximum:
            maximum=item
    return maximum
maxElementDS(li)

678

## Python Dictionaries

In [56]:
d1={'name1':1234,'name2':5678}
print(d1)
print(d1['name2'])
print(d1.keys())# All Keys in a dictionary are unique
print(d1.values())

{'name1': 1234, 'name2': 5678}
5678
dict_keys(['name1', 'name2'])
dict_values([1234, 5678])

In [57]:
d1['name3']=7865
d1

{'name1': 1234, 'name2': 5678, 'name3': 7865}

In [58]:
d1.pop('name3')#removes a key and value
d1

{'name1': 1234, 'name2': 5678}

In [59]:
d1['name3']='bachi'
d1

{'name1': 1234, 'name2': 5678, 'name3': 'bachi'}

In [82]:
# simple Contacts application   (pending)
# Dispay, Add, Modify, and Delete Contacts
contacts={}
def addContact(d,name,phone):
    d[name]=phone
    return

def displayContacts(contacts):
    for name,phone in contacts.items():
        print(name,":",phone)
    return
def modifyContacts(contacts,name,newphone):
    contacts[name]=newphone
    return
def deleteContact(contacts,name):
    contacts.pop(name)
    return

In [83]:
addContact(contacts,'name1',987899)
addContact(contacts,'name2',34567)

displayContacts(contacts)

name1 : 987899
name2 : 34567

In [73]:
li=[1,2,3,4]
li=reversed(li)
print(type(li))
for i in li:
    print(i)

<class 'list_reverseiterator'>
4
3
2
1

In [74]:
li=[1,2,3,4]
li=list(reversed(li))
print(type(li))
for i in li:
    print(i)

<class 'list'>
4
3
2
1

In [75]:
enumerate(li)
for i,value in enumerate(li):
    print(i,":",value)

0 : 4
1 : 3
2 : 2
3 : 1

In [76]:
li1=[1,2,3,4]
li2=[5,6,7,8,9]
for i,j in zip(li1,li2): #displays same minimum number of elements(in li1 there are 4 so we will get  values)
    print(i,j)

1 5
2 6
3 7
4 8