# JNTUA FDP - Day 05
### Date 31 May 2019
#### Day Objectives
* Tuples
* Dictionaries
* Linear and Binary Search
* Data Arithmetic
* Iterators and Generators
* Functional Programming

#### Python Tuples

In [5]:
t1  = (1001,'bhaskar',72,90)

In [6]:
t1

(1001, 'bhaskar', 72, 90)

In [7]:
t1[0]

1001

In [9]:
t1[2:]

(72, 90)

In [15]:
t2=(321,654,789098)
str(t2[0])[1], str(t2[1])[1], str(t2[2])[1]

('2', '5', '8')

In [13]:
t2=(321,654,789098)
print(str(t2[0])[1],str(t2[1])[1],str(t2[2])[1])

2 5 8

In [22]:
# Average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    for i in range(0,len(t)):
        sum +=t[i]
    return sum/len(t)
li=[123,243,456,678,89]

averageLinearDs(li)

317.8

In [81]:
# Average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    for item in t:    #  using iterator
        sum +=item
    return sum/len(t)
li=[123,243,456,678,89]

averageLinearDs(li)

317.8

In [44]:
# Function to search in linear Data structure
def searchLinearDs(ds,key):
    for i in range(0,len(ds)):
        if(key==ds[i]):
            return i
    return -1
            
li=[123,243,456,678,89]
s=4565
searchLinearDs(li,s)

-1

In [80]:
# Average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    for item in t:
        sum +=item
    return sum/len(t)
li=[123,243,456,678,89]

averageLinearDs(li)

317.8

# Iterable Objects

In [45]:
s='pah'
for c in s:
    print(c)

p
a
h

In [50]:
# Function to find maximum element in a ds using iterable Object
def maxElementDS(ds):
    maximum=ds[0]
    for item in ds:
        if item > maximum:
            maximum=item
    return maximum
maxElementDS(li)

678

## Python Dictionaries

In [56]:
d1={'name1':1234,'name2':5678}
print(d1)
print(d1['name2'])
print(d1.keys())# All Keys in a dictionary are unique
print(d1.values())

{'name1': 1234, 'name2': 5678}
5678
dict_keys(['name1', 'name2'])
dict_values([1234, 5678])

In [57]:
d1['name3']=7865
d1

{'name1': 1234, 'name2': 5678, 'name3': 7865}

In [58]:
d1.pop('name3')#removes a key and value
d1

{'name1': 1234, 'name2': 5678}

In [59]:
d1['name3']='bachi'
d1

{'name1': 1234, 'name2': 5678, 'name3': 'bachi'}

In [82]:
# simple Contacts application   (pending)
# Dispay, Add, Modify, and Delete Contacts
contacts={}
def addContact(d,name,phone):
    d[name]=phone
    return

def displayContacts(contacts):
    for name,phone in contacts.items():
        print(name,":",phone)
    return
def modifyContacts(contacts,name,newphone):
    contacts[name]=newphone
    return
def deleteContact(contacts,name):
    contacts.pop(name)
    return

In [83]:
addContact(contacts,'name1',987899)
addContact(contacts,'name2',34567)

displayContacts(contacts)

name1 : 987899
name2 : 34567

In [73]:
li=[1,2,3,4]
li=reversed(li)
print(type(li))
for i in li:
    print(i)

<class 'list_reverseiterator'>
4
3
2
1

In [74]:
li=[1,2,3,4]
li=list(reversed(li))
print(type(li))
for i in li:
    print(i)

<class 'list'>
4
3
2
1

In [75]:
enumerate(li)
for i,value in enumerate(li):
    print(i,":",value)

0 : 4
1 : 3
2 : 2
3 : 1

In [76]:
li1=[1,2,3,4]
li2=[5,6,7,8,9]
for i,j in zip(li1,li2): #displays same minimum number of elements(in li1 there are 4 so we will get  values)
    print(i,j)

1 5
2 6
3 7
4 8

## Python Regular Expressions

In [ ]:
import re
number="9989594682"
if re.match("/^[6-9]\d{9}$/",number):
    print("YES")
else:
    print("no")

In [ ]:
import re
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern='^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True
    return False
phoneNumberValidator(1234567890)

In [1]:
print('hello')

hello

### Date and Time

In [2]:
import datetime
now=datetime.datetime.now()
now.day

31

In [3]:
datetime.date.today()

datetime.date(2019, 5, 31)

In [10]:
#Function to find  the difference in two given dates
#yyyy mm dd date format as a string
import datetime
def dateDifference(date1,date2):
    year1=int(date1[:4])
    month1=int(date1[5:7])
    day1=int(date1[8:])
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    d1=datetime.date(year1,month1,day1) # convert into first date object
    d2=datetime.date(year2,month2,day2) # convert into second date object
    return d2-d1
    print(year1,month1,day1)
print(dateDifference('2019:05:27','2019:06:02')) # dates are in string

6 days, 0:00:00

In [12]:
import calendar
calendar.isleap(2016)

True

In [27]:
def isleap(year):
    if(year%4==0 and year%100!=0)or (year%400==0):
        return  True
    return False
   
    
isleap(2020)

True

In [49]:
def isleap(year):
    if(year%4==0 and year%100!=0)or (year%400==0):
        return  print('leap year')
    return print('not a leap year')
   
    
isleap(2020)

leap year

### List Compression

In [29]:
li=[1,2,3,4,5,6]
n=123
print(range(n))
sum(range(123))

range(0, 123)

7503

In [30]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
sum(list(range(9+1)))# sum of n natural numbers

45

In [33]:
#caluclate sum of squareroot of n natural numbers
from math import sqrt
def sqrtNNaturalNumbers(n):
    return [sqrt(i) for i in list(range(1,n+1))]
sqrtNNaturalNumbers(10)

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [34]:
#caluclate sum of squareroot of n natural numbers
from math import sqrt
def sumsqrtNNaturalNumbers(n):
    return sum([sqrt(i) for i in list(range(1,n+1))])
sumsqrtNNaturalNumbers(10)

22.4682781862041

In [36]:
#caluclating square of each value in the list
def squareListElements(li):
    return[i ** 2 for i in li] # li contain six values
squareListElements(li)

[1, 4, 9, 16, 25, 36]

In [38]:
# design a functio using list copression to identify  of all values divided by 9 
li=list(range(1,50))
print(li)
def divisible9LC(li):
    return [i for i in li if i % 9==0]
divisible9LC(li)# factors of 9

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

[9, 18, 27, 36, 45]

In [40]:
li=list(range(1979,2019))
print(li)
def divisible9LC(li):
    return [i for i in li if (i % 4==0and i % 100!=0)or(i %400 == 0)]
divisible9LC(li)# leap years between 1979 to 2019

[1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### Maps

In [ ]:
# Functions and iterators are passed as parameters to map

In [48]:
#Function to caluclate cubes of all numbers in a ist
li=[1,2,3,4,5,6]
def cube(n):
    return n**3
print(list(map(cube,li))) # take element from the list and set to cube function
len(list(map(cube,li)))# no of values ans:6
sum(list(map(cube,li)))# sum of all values ans: 441
li=[1,2,3,4,5,6,7]
sum([cube(i) for i in li])# by usinglist compression sum of cubes when li has 7 values ans:784

[1, 8, 27, 64, 125, 216]

784

In [51]:
# Function to convert nmber into words

def numberToWords(n):
    d1={1:'one',2:'two',3:'three',4:'four'}
    digit[]
    i=0
    while(n!=0):
        digit[i]=n % 10
        d1[digit]
        n=n//10
        i +=1
    return
numberToWords(12)

three